<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Mahasiswa</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>
<body class="container d-flex flex-column justify-content-center" style="min-height: 100vh">
    <h1 class="text-center">Edit Mahasiswa</h1>
    <div class="mt-3">
        <form action="/edit" method="post">
            <div class="form-group">
                <label for="NIM">NIM</label>
                <input type="text" class="form-control" id="NIM" name="nim" th:value="${mahasiswa.nim}" pattern="^\d+$" title="Harap masukkan hanya angka" />
            </div>            
            <div class="form-group">
                <label for="Nama">Nama</label>
                <input type="text" class="form-control" id="Nama" name="nama" th:value="${mahasiswa.nama}" />
            </div>
            <div class="form-group">
                <label for="Angkatan">Angkatan</label>
                <input type="text" class="form-control" id="Angkatan" name="angkatan" th:value="${mahasiswa.angkatan}" />
            </div>
            <div class="form-group">
                <label for="Gender">Gender</label>
                <input type="text" class="form-control" id="Gender" name="gender" th:value="${mahasiswa.gender}" />
            </div>
            <div class="form-group">
                <label for="Asal_Daerah">Asal Daerah</label>
                <input type="text" class="form-control" id="Asal_Daerah" name="asal_daerah" th:value="${mahasiswa.asal_daerah}" />
            </div>
            <div class="form-group">
                <label for="No_Telp">No Telp</label>
                <input type="text" class="form-control" id="No_Telp" name="no_telp" th:value="${mahasiswa.no_telp}" pattern="^\d+$" title="Harap masukkan hanya angka" />
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-100 py-2 my-4">Submit</button>
            </div>
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
